#CONFIG_COMPONENT_HTTPD=y
#CONFIG_COMPONENT_MQTT=y
#CONFIG_COMPONENT_RELAY=y
#CONFIG_COMPONENT_OTA=y

CONFIG_MQTT_TASK_STACK_SIZE=4096

# ESP Configs
CONFIG_ESP8266_DEFAULT_CPU_FREQ_80=y
CONFIG_ESP8266_DEFAULT_CPU_FREQ_MHZ=80

# Configure Basic Monitors
CONFIG_ESPTOOLPY_BAUD_2MB=y
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_BAUD=2000000
CONFIG_ESPTOOLPY_COMPRESSED=y
CONFIG_CONSOLE_UART_DEFAULT=y
CONFIG_CONSOLE_UART_BAUDRATE=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD_115200B=y
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=115200

# ESP IDF Configs
CONFIG_HTTP_BUF_SIZE=1024
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
CONFIG_HTTPD_MAX_URI_LEN=1024
CONFIG_OTA_BUF_SIZE=512
CONFIG_OTA_ALLOW_HTTP=y

# LWIP Config
CONFIG_LWIP_NETIF_LOOPBACK=n
CONFIG_LWIP_LOOPBACK_MAX_PBUFS=0

# MBED Config
CONFIG_ESP_TLS_USING_MBEDTLS=n