esp/build/
esp/webpages/
esp/main/dsw_bak/
esp/main/bak/
esp/main/history.txt
esp/logs/
*.bak
*/build/*
*_bak/*
*/*_bak/*
*_
*.*1
*.old
*.rej
*.code-workspace
*.bin
*.json
*.commit
esp_kitchen/sdkconfig_new_30.07.2020
